 form{
    display: flex;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
  }

   form input{
    height: 40px;
  width: 100%;
    background-color: #fff;
    border: none;
    border: 2px solid gold;

  }

   form input::placeholder{
font-size: 15px;
  }
   form input:focus{
  outline: none;
  border: none;
  }

  .iconSearch{
    font-size: 15px;
  }
     form .btn-nav{
  
  height: 40px;
  background-color: gold;
  border: none;
  width: 40px;
  color: #fff;  
  }